/*
Para test...
* {

    border: 1px solid red;
  }
*/

.App {
  background-color: white;
  text-align: center;
}

.title {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  /* margin: 0px auto; */
  /* display: block; */
  height: 12vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
